@model EPrescribing.Web.Models.Doctor
@{
    Layout = null;
}
@using (Html.BeginForm("EditClinicInfo", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @onSubmit= "return SubmitClinicInfo(this)", @class = "form-horizontal", role = "form" }))
{
    <div class="wizard-hd">
        <div class="breadcomb-wp">
            <div class="breadcomb-icon">
                <i class="notika-icon notika-social"></i>
            </div>
            <div class="breadcomb-ctn">
                <h2>Update Clinic Info</h2>
                <p class="text-tagline">Please fill up carefully.</p>
            </div>
        </div>
    </div>

    @Html.HiddenFor(model => model.Id, new { @id = "doctorId" });

    <div class="row">
        <div class="col-md-10 col-md-offset-1 col-xs-12">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="form-group ic-cmp-int">
                    <div class="form-ic-cmp">
                        <i class="notika-icon notika-support"></i>
                    </div>
                    <div class="nk-int-st">
                        @*@Html.TextBoxFor(m => m.ClinicName, new { @class = "form-control", @placeholder = "Clinic", required = "required" })*@
                        @Html.TextBoxFor(m => m.ClinicName, new { @class = "form-control", @placeholder = "Clinic"})
                        @Html.ValidationMessageFor(m => m.ClinicName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1 col-xs-12">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <div class="form-group ic-cmp-int">
                    <div class="form-ic-cmp">
                        <i class="notika-icon notika-edit"></i>
                    </div>
                    <div class="nk-int-st">
                        @Html.TextAreaFor(m => m.ClinicAddress, new { @class = "form-control", @placeholder = "Clinic Address" })
                        @Html.ValidationMessageFor(m => m.ClinicAddress, "", new { @class = "text-danger", @rows = "4", @cols = "20" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3 material-design-btn text-center my-2">
            <button type="submit" class="btn notika-btn-cyan waves-effect">
                <i class="notika-icon notika-checked"></i> Save
            </button>
        </div>
    </div>
}
