@model EPrescribing.Web.ViewModels.VMChangePassword
@{
    Layout = null;
}
@using (Html.BeginForm("EditPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @onSubmit = "return SubmitPasswordInfo(this)", @class = "form-horizontal", role = "form" }))
{
    <div class="wizard-hd">
        <div class="breadcomb-wp">
            <div class="breadcomb-icon">
                <i class="notika-icon notika-social"></i>
            </div>
            <div class="breadcomb-ctn">
                <h2>Change Password</h2>
                <p class="text-tagline">Please fill up carefully.</p>
            </div>
        </div>

    </div>
    @Html.HiddenFor(model => model.DoctorId, new { @id = "doctorId" });

    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="col-md-4 text-right">
                <label style="margin-top:10px;">Current Password</label>
            </div>
            <div class="col-md-8">

                <div class="nk-int-st">
                    @Html.PasswordFor(m => m.CurrentPassword, new { @id = "txtCurrentPassword", @class = "form-control", @placeholder = "Current Password" })
                    @Html.ValidationMessageFor(m => m.CurrentPassword, "", new { @class = "text-danger" })
                </div>

            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="col-md-4 text-right">
                <label style="margin-top:10px;">New Password</label>
            </div>
            <div class="col-md-8">

                <div class="nk-int-st">
                    @Html.PasswordFor(m => m.Password, new { @id = "txtPassword", @class = "form-control", @placeholder = "New Password" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            </div>

        
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="col-md-4 text-right">
                <label style="margin-top:10px;">Confirm Password</label>
            </div>
            <div class="col-md-8">

                <div class="nk-int-st">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @id = "txtConfirmPassword", @class = "form-control", @placeholder = "Confirm Password" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>
            </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3 material-design-btn text-center my-2">
            <button type="submit" class="btn notika-btn-cyan waves-effect">
                <i class="notika-icon notika-checked"></i> Save
            </button>
        </div>
    </div>
}