@model EPrescribing.Web.Models.Doctor
@{
    ViewBag.Title = "EditAccountInfo";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="Disease-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="normal-table-list">
                    <!--Start Table Header-->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="breadcomb-list">
                                <div class="breadcomb-wp">
                                    <div class="breadcomb-icon">
                                        <i class="notika-icon notika-form"></i>
                                    </div>
                                    <div class="breadcomb-ctn">
                                        <h2>Edit Account Settings</h2>
                                        <p class="text-tagline">You can update your account info anytime</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 breadcomb-list">
                            <a href="@Url.Action("AccountInfo", "Account")" class="btn btn-teal btn-icon-notika teal-icon-notika waves-effect floatright smallCaps">
                                <i class="notika-icon notika-left-arrow"></i> Back to Settings
                            </a>
                        </div>
                    </div>
                    <!--End Table Header-->
                    <div class="form-example-wrap">

                        @Html.HiddenFor(model => model.Id, new { @id = "doctorId" })
                        <hr />
                        <div class="row">
                            <div class="col-md-4">
                                <button id="btnChangeClinic" type="button" class="btn btn-primary btn-block">Change Clinic Name</button>
                                <button id="btnChangePassword" type="button" class="btn btn-primary btn-block">Change Password</button>
                                <button id="btnChangeEmail" type="button" class="btn btn-primary btn-block">Change Email Address</button>
                                <button id="btnChangePhone" type="button" class="btn btn-primary btn-block">Change Phone Number</button>
                                <button id="btnChangeDesignation" type="button" class="btn btn-primary btn-block">Change Designation</button>
                            </div>
                            <div class="col-md-8">
                                <div id="divPartial">

                                </div>
                            </div>



                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

<script>

    $(document).on("click", "#btnChangeClinic", function () {
            var doctorId=$("#doctorId").val();
                $.ajax({
                    url: '@Url.Action("EditClinicInfo")',
                    data: { doctorId: doctorId},
                cache: false,
                    success: function (html) {
                        $('#divPartial').html("");
                        $('#divPartial').html(html);
                }
            });
        });
    $(document).on("click", "#btnChangePassword", function () {
            var doctorId=$("#doctorId").val();
                $.ajax({
                    url: '@Url.Action("EditPassword")',
                    data: { doctorId: doctorId},
                cache: false,
                    success: function (html) {
                        $('#divPartial').html("");
                        $('#divPartial').html(html);
                }
            });
    });
    $(document).on("click", "#btnChangeEmail", function () {
            var doctorId=$("#doctorId").val();
                $.ajax({
                    url: '@Url.Action("EditEmail")',
                    data: { doctorId: doctorId},
                cache: false,
                    success: function (html) {
                        $('#divPartial').html("");
                        $('#divPartial').html(html);
                }
            });
    });
    $(document).on("click", "#btnChangePhone", function () {
            var doctorId=$("#doctorId").val();
                $.ajax({
                    url: '@Url.Action("EditMobileNo")',
                    data: { doctorId: doctorId},
                cache: false,
                    success: function (html) {
                        $('#divPartial').html("");
                        $('#divPartial').html(html);
                }
            });
    });
    $(document).on("click", "#btnChangeDesignation", function () {
            var doctorId=$("#doctorId").val();
                $.ajax({
                    url: '@Url.Action("EditDesignation")',
                    data: { doctorId: doctorId},
                cache: false,
                    success: function (html) {
                        $('#divPartial').html("");
                        $('#divPartial').html(html);
                }
            });
    });

    function SubmitClinicInfo(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {

                $.ajax({
                    type: "POST",
                    url: form.action,
                    dataType:"json",
                    data: $(form).serialize(),
                    success: function (data) {
                        if (data.status) {
                            toastr.options = {
                                "closeButton": true,
                                "debug": false,
                                "newestOnTop": true,
                                "progressBar": true,
                                "positionClass": "toast-top-center",
                                "preventDuplicates": false,
                                "onclick": null,
                                "showDuration": "200",
                                "hideDuration": "200",
                                "timeOut": "5000",
                                "extendedTimeOut": "200",
                                "showEasing": "swing",
                                "hideEasing": "linear",
                                "showMethod": "fadeIn",
                                "hideMethod": "fadeOut"
                            }
                            Command: toastr["success"](data.message)
                        } else {

                            toastr.options = {
                                "closeButton": true,
                                "debug": false,
                                "newestOnTop": true,
                                "progressBar": true,
                                "positionClass": "toast-top-center",
                                "preventDuplicates": false,
                                "onclick": null,
                                "showDuration": "200",
                                "hideDuration": "200",
                                "timeOut": "5000",
                                "extendedTimeOut": "200",
                                "showEasing": "swing",
                                "hideEasing": "linear",
                                "showMethod": "fadeIn",
                                "hideMethod": "fadeOut"
                            }
                            Command: toastr["error"](data.message)
                        }
                    }
                });
            }

            return false;

        }
    function SubmitPasswordInfo(form) {

            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {

                $.ajax({
                    type: "POST",
                    url: form.action,
                    dataType: "json",
                    data: $(form).serialize(),
                    success: function (data) {
                        if (data.status) {
                            $("#txtCurrentPassword").val("");
                            $("#txtPassword").val("");
                            $("#txtConfirmPassword").val("");

                            toastr.options = {
                                "closeButton": true,
                                "debug": false,
                                "newestOnTop": true,
                                "progressBar": true,
                                "positionClass": "toast-top-center",
                                "preventDuplicates": false,
                                "onclick": null,
                                "showDuration": "200",
                                "hideDuration": "200",
                                "timeOut": "5000",
                                "extendedTimeOut": "200",
                                "showEasing": "swing",
                                "hideEasing": "linear",
                                "showMethod": "fadeIn",
                                "hideMethod": "fadeOut"
                            }
                            Command: toastr["success"](data.message)
                        } else {

                            toastr.options = {
                                "closeButton": true,
                                "debug": false,
                                "newestOnTop": true,
                                "progressBar": true,
                                "positionClass": "toast-top-center",
                                "preventDuplicates": false,
                                "onclick": null,
                                "showDuration": "200",
                                "hideDuration": "200",
                                "timeOut": "5000",
                                "extendedTimeOut": "200",
                                "showEasing": "swing",
                                "hideEasing": "linear",
                                "showMethod": "fadeIn",
                                "hideMethod": "fadeOut"
                            }
                            Command: toastr["error"](data.message)
                        }
                    }
                });
            }

            return false;

    }
    function SubmitEmailInfo(form) {
        $.validator.unobtrusive.parse(form);
        if ($(form).valid()) {
            $.ajax({
                type: "POST",
                url: form.action,
                dataType: "html",
                data: $(form).serialize(),
                success: function (html) {
                        $('#divPartial').html("");
                        $('#divPartial').html(html);

                }
            });
        }

        return false;

        }
    function SubmitEmailOtp(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                $.ajax({
                    type: "POST",
                    url: form.action,
                    dataType: "json",
                    data: $(form).serialize(),
                    success: function (data) {
                        if (data.status) {
                            toastr.options = {
                                "closeButton": true,
                                "debug": false,
                                "newestOnTop": true,
                                "progressBar": true,
                                "positionClass": "toast-top-center",
                                "preventDuplicates": false,
                                "onclick": null,
                                "showDuration": "200",
                                "hideDuration": "200",
                                "timeOut": "5000",
                                "extendedTimeOut": "200",
                                "showEasing": "swing",
                                "hideEasing": "linear",
                                "showMethod": "fadeIn",
                                "hideMethod": "fadeOut"
                            }
                            Command: toastr["success"](data.message)
                            var doctorId=$("#doctorId").val();
                $.ajax({
                    url: '@Url.Action("EditEmail")',
                    data: { doctorId: doctorId},
                cache: false,
                    success: function (html) {
                        $('#divPartial').html("");
                        $('#divPartial').html(html);
                }
            });

                        } else {

                            toastr.options = {
                                "closeButton": true,
                                "debug": false,
                                "newestOnTop": true,
                                "progressBar": true,
                                "positionClass": "toast-top-center",
                                "preventDuplicates": false,
                                "onclick": null,
                                "showDuration": "200",
                                "hideDuration": "200",
                                "timeOut": "5000",
                                "extendedTimeOut": "200",
                                "showEasing": "swing",
                                "hideEasing": "linear",
                                "showMethod": "fadeIn",
                                "hideMethod": "fadeOut"
                            }
                            Command: toastr["error"](data.message)
                            var doctorId=$("#doctorId").val();
                $.ajax({
                    url: '@Url.Action("EditEmail")',
                    data: { doctorId: doctorId},
                cache: false,
                    success: function (html) {
                        $('#divPartial').html("");
                        $('#divPartial').html(html);
                }
            });
                        }
                    }
                });
        }

            return false;

    }

    function SubmitMobileNo(form) {
        $.validator.unobtrusive.parse(form);
        if ($(form).valid()) {
            $.ajax({
                type: "POST",
                url: form.action,
                dataType: "html",
                data: $(form).serialize(),
                success: function (html) {
                    $('#divPartial').html("");
                    $('#divPartial').html(html);

                }
            });
        }

        return false;

    }
    function SubmitMobileNoOtp(form) {
        $.validator.unobtrusive.parse(form);
        if ($(form).valid()) {
            $.ajax({
                type: "POST",
                url: form.action,
                dataType: "json",
                data: $(form).serialize(),
                success: function (data) {
                    if (data.status) {
                        toastr.options = {
                            "closeButton": true,
                            "debug": false,
                            "newestOnTop": true,
                            "progressBar": true,
                            "positionClass": "toast-top-center",
                            "preventDuplicates": false,
                            "onclick": null,
                            "showDuration": "200",
                            "hideDuration": "200",
                            "timeOut": "5000",
                            "extendedTimeOut": "200",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut"
                        }
                        Command: toastr["success"](data.message)
                        var doctorId=$("#doctorId").val();
                $.ajax({
                    url: '@Url.Action("EditMobileNo")',
                    data: { doctorId: doctorId},
                cache: false,
                    success: function (html) {
                        $('#divPartial').html("");
                        $('#divPartial').html(html);
                }
            });
                    } else {

                        toastr.options = {
                            "closeButton": true,
                            "debug": false,
                            "newestOnTop": true,
                            "progressBar": true,
                            "positionClass": "toast-top-center",
                            "preventDuplicates": false,
                            "onclick": null,
                            "showDuration": "200",
                            "hideDuration": "200",
                            "timeOut": "5000",
                            "extendedTimeOut": "200",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut"
                        }
                        Command: toastr["error"](data.message)
                        var doctorId=$("#doctorId").val();
                $.ajax({
                    url: '@Url.Action("EditMobileNo")',
                    data: { doctorId: doctorId},
                cache: false,
                    success: function (html) {
                        $('#divPartial').html("");
                        $('#divPartial').html(html);
                }
            });
                    }
                }
            });
        }

        return false;

    }

    $(document).ready(function () {

        });
</script>
}