
@model PagedList.IPagedList<EPrescribing.Web.Models.SingleServiceSection>
@using PagedList.Mvc;
@{
    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
    else
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }

    ViewBag.Title = "Index";

    int size = 10;

    if (ViewBag.NoOfRows != null)
    {
        size = ViewBag.NoOfRows;
    };
    int Nopage = 1;
    if (ViewBag.page != null)
    {
        Nopage = ViewBag.page;
    };
    int row = size * Nopage;
    row = row - size;
}
<div class="normal-table-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="normal-table-list">

                    <!--Start Table Header-->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="breadcomb-list">
                                <div class="breadcomb-wp">
                                    <div class="breadcomb-icon">
                                        <i class="notika-icon notika-form"></i>
                                    </div>
                                    <div class="breadcomb-ctn">
                                        <h2>Service List</h2>
                                        <p class="text-tagline">List of designations services available in system</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 breadcomb-list">
                            <a href="@Url.Action("Create", "SingleServiceSection")" class="btn btn-teal btn-icon-notika teal-icon-notika waves-effect floatright smallCaps">
                                <i class="notika-icon notika-plus-symbol"></i> Add New
                            </a>
                        </div>
                    </div>
                    <!--End Table Header-->


                    @using (Ajax.BeginForm("Index", "SingleServiceSection", FormMethod.Get, new AjaxOptions
                    {
                        UpdateTargetId = "BodyContainer",
                        InsertionMode = InsertionMode.Replace
                    }))
                    {

                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <table class="table">
                                    <tr>
                                        <td width="5%">
                                            <i class="fa fa-filter" style="margin-right: 5px; color: #aeaeae; font-size: 22px; padding-top: 12px; "></i>
                                        </td>
                                        <td width="20%">
                                            @Html.TextBox("NoOfRows", ViewBag.NoOfRows as string, new { @type = "number", @min = "3", @max = "100", @class = "form-control " })
                                        </td>
                                        <td width="65%">
                                            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control ", placeholder = "Title" })
                                        </td>
                                        <td width="10%">
                                            <button type="submit" class="btn btn-light" style="background-color: #e6e6e6; "><i class="fa fa-search-plus" style="margin-right:5px; color:#808080"></i>Serach</button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    }

                    <table class="responsive-table">
                        <thead>
                            <tr class="table-header animated flipInX">
                                <th class="col col-1">#</th>
                                <th class="col col-2">Title</th>
                                <th class="col col-4">Icon</th>
                                <th class="col col-3">Description</th>
                                <th class="col col-5 text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                row++;
                                <tr class="table-row animated flipInX">
                                    <td class="col col-1" data-label="#">@row</td>
                                    <td class="col col-2" data-label="Title">@item.Title</td>
                                    <td class="col col-4" data-label="Title">@item.Icon</td>
                                    <td class="col col-3" data-label="Description">@item.Description</td>
                                    <td class="col col-5 text-center button-icon-btn-cl" data-label="Actions">
                                        <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-info info-icon-notika waves-effect" data-toggle="tooltip" data-placement="right" title="" data-original-title="Tooltip on right">
                                            <i class="notika-icon notika-edit"></i>
                                        </a>
                                        <a onclick="return DeleteItem(this)" title="Delete" class="btn btn-danger danger-icon-notika waves-effect delBtn" deleteUrl="@Url.Action("Delete","SingleServiceSection")/@item.Id">
                                            <i class="notika-icon notika-trash"></i>
                                        </a>

                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>

                    <div class="row" style="margin:0px;">
                        <div class="col-md-12">
                            <div class="floatright">
                                @Html.PagedListPager(Model, page => Url.Action("Index",
                                            new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, NoOfRows = ViewBag.NoOfRows }),
                                                             PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "BodyContainer" }))
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
