@model EPrescribing.Web.Models.Doctor
@{
    ViewBag.Title = "Account Update";
    var subscriptions = Model.Subscriptions;

    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
    else
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
}

<div class="normal-table-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="normal-table-list">
                    <!--Start Table Header-->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="breadcomb-list">
                                <div class="breadcomb-wp">
                                    <div class="breadcomb-icon">
                                        <i class="notika-icon notika-social"></i>
                                    </div>
                                    <div class="breadcomb-ctn">
                                        <h2>Upgrade Subscription</h2>
                                        <p class="text-tagline">Upgrade Subscription by System Admin</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 breadcomb-list">
                            <a href="@Url.Action("Doctors", "Subscribed")" class="btn btn-teal btn-icon-notika teal-icon-notika waves-effect floatright smallCaps">
                                <i class="notika-icon notika-left-arrow"></i> Back to Records
                            </a>
                        </div>

                        <div class="col-md-4">
                            Doctor Name: @Model.Name <br />
                            Mobile No: @Model.AppUser.UserName <br />
                            BMDC Reg No: @Model.BMDCRegistrationNumber
                        </div>
                        <div class="col-md-8">
                            @using (Ajax.BeginForm("Upgrade", "Subscribed", FormMethod.Post, new AjaxOptions
                            {
                                UpdateTargetId = "BodyContainer",
                                InsertionMode = InsertionMode.Replace
                            }))
                            {
                                @Html.HiddenFor(a => a.Id)
                                <div class="row middle">
                                    <div class="col-md-10 col-md-offset-1 text-center">
                                        @if (subscriptions != null)
                                        {
                                            foreach (var subscription in subscriptions)
                                            {
                                                <label class="col-md-3 text-center">
                                                    <input type="radio" name="SubscriptionlId" value="@subscription.Id" checked="@subscription.IsChecked" />
                                                    <div class="front-end box">
                                                        <span>
                                                            @subscription.Name <br />
                                                            <small>@subscription.Description</small>
                                                        </span>
                                                    </div>
                                                </label>
                                            }
                                        }
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-md-offset-3 material-design-btn text-center my-2">
                                        <button type="submit" class="btn notika-btn-cyan waves-effect">
                                            <i class="notika-icon notika-checked"></i> Upgrade Subscription
                                        </button>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <!--End Table Header-->
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {

        });
    </script>
}
